.nav-bar {
	height:60px;
	background:#036
}
.nav-bar a.logo {
	margin:0;
	opacity:.8
}
.nav-bar a.logo img {
	margin:10px 30px 0 0;
	height: 40px;
}
.nav-bar a.logo:hover {
	opacity:1
}

.nav-bar a{color:#FFF;}

.nav-bar h3.text-logo {
	margin:0;
	color:#055;
	font-size:18px;
	line-height:50px
}
.nav-bar h3.text-logo img {
	float:left;
	margin-top:10px
}
.nav-bar h3.text-logo a {
	color:#055;
	text-decoration:none
}
.navbar-nav a:hover,.navbar-nav a.active{ background-color:#258;}
.navbar-nav>li{padding-top:5px\9}
.navbar-nav>li>a{ line-height:30px;}
.nav-bar form {
	float:right;
	margin:12px 0;
}
.nav-bar form input.form-control {
	float:left;
	width:235px;
	border-right:0;
	border-radius:2px 0 0 2px
}
.nav-bar form button {
	float:left;
	height:34px;
	border-radius:0 2px 2px 0
}
.nav-bar .dropdown-menu {
	padding:5px
}
.nav-bar .dropdown-menu li {
	float:left;
	width:50%;
	text-align:center
}
.nav-bar .dropdown-menu>li>a {
	padding:3px 0
}

.navbar-toggle {
	margin:8px
}
.navbar-toggle:hover {
	background:#e8e8e8
}
.navbar-toggle .icon-bar {
	background-color:#277
}

.nav>li>a:hover, .nav>li>a:focus{
    color: #fff;
}